<div class="container">
    <div class="row">
        <div class="col-12">
            <span class="text-primary float-left">
                <i class="far fa-user"></i>
                <%= email %>
            </span>
            <a href="/" class="text-primary float-right">Logout
                <i class="fas fa-sign-out-alt text-primary"></i></a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 text-center">
            <div class="form">
                <div class="form">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Name" placeholder="Name" id="name">
                            <div class="float-left warning-name text-warning" style="display:none;">
                                <i class="fas fa-exclamation-circle"></i>
                                Please fill this field!
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" name="Mobile" placeholder="Mobile number"
                                id="mobile">
                            <div class="float-left warning-mob text-warning" style="display:none;">
                                <i class="fas fa-exclamation-circle"></i>
                                Please fill this field!
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="Category" placeholder="Category" id="category">
                                <option>Friend</option>
                                <option>Family</option>
                                <option>Office</option>
                                <option>Neighbour</option>
                                <option>Teacher</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn w-100 btn-danger" onclick="save()">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8 border-left">
            <table class="table table-striped">
                <thead class="bg-danger text-white">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Category</th>
                        <th scope="col" class="text-center">Modify</th>
                        
                    </tr>
                </thead>
                <tbody style="font-family: 'PT Sans', sans-serif;">
                    <% for(let i=0;i<=data.length-1;i++) {%>
                    <tr>
                        <td scope="row" class="srno"> <%=i+1%></td>
                        <td><%= data[i].Name %></td>
                        <td><%= data[i].Mobile %></td>
                        <td><%= data[i].Category %></td>
                        <td class="text-center">
                            <a href="" class="px-1" onclick="edit(event);">
                                <i class="fas fa-pencil-alt text-secondary"></i>
                            </a>
                            <a href="" class="px-1" onclick="remove(event);">
                                <i class="far fa-trash-alt text-dark"></i>
                            </a>
                        </td>                        
                    </tr>
                    <% }%>
                </tbody>
            </table>
        </div>
    </div>
</div>